/* Google Fonts */

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Style */
body {
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

main {
    padding: 0 150px;
}

.text-primary {
    color: #4E47FF;
}

a {
    text-decoration: none;
}

button {
    background: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: 24px;
    border: none;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.97);
    color: black;
}

.section-title {
    font-size: 42px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

p {
    color: rgba(0, 0, 0, 0.50);
    margin: 20px 0;
}

h4 {
    font-size: 28px;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-text {
    text-align: center;
}

/* Header Styles  */
header {
    padding: 0 150px;
    padding-bottom: 200px;
    background-image: url("../Assets/Hero-bg.png");
    /* background-repeat: no-repeat; */

}

/* Navigation bar Styles */
nav {
    padding: 50px 0;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

.slider {
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin: 150px 0 40px;
}

.item-center {
    display: flex;
    justify-content: center;
}

/* Action Section */
.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 0;
}

.action-image {
    border-radius: 48px;
}

/* Users Section */
.users-section {
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    margin: 0;
}

.users {
    padding: 0 50px;
    margin-top: 40px;

}

/* Ratings Section */

.ratings-section {
    padding: 135px 0;
}

.star-icon {
    color: orange;
    display: flex;
    gap: 5px;
    padding-bottom: 24px;
}

.Users-comment {}

.reviews {
    gap: 25px;
    padding-top: 50px;
}

.review {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border-color: orange;
    margin: 0;
}

.user {
    font-family: "Inter", sans-serif;
    padding-top: 24px;
}

.comments{
    font-size: 22px;
}

.reviewer-image {
    border-radius: 50%;
}

.reviewer {
    font-weight: 700;
    color: #757575;
    margin: 0;
    padding: 0;
}

.flex-left {
    justify-content: left;
    gap: 20px;
    align-items: center;
}

.date {
    margin: 10px 0 0 0;
}

/* Subscription Section */
.subscription {
    background-color: white;
    border-radius: 15px;
    padding: 70px 0;
}

.webflow-cover {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.web-image {
    border-radius: 48px;
}


/* Form Section */
.form {
    gap: 115px;
    padding: 100px 0;
}

.form-title {
    font-size: 97px;
    font-weight: 700;
}

.form-template {
    width: 45%;
}

label{
    color: black;
    font-size: 18px;
}

input,
textarea {
    /* padding: 10px; */
    width: 95%;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    margin:10px 0 20px;
    padding-left: 32px;
}

textarea{
    height: 200px;
}

.width-button {
    height: 70px;
    width: 100%;
}

/* Footer Section */
.footer {
    width: 530px;
}

footer {
    padding: 100px 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer-logo {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    color: black;
    width: 80%;
}

footer a{
    color: gray;
    font-family: "Inter", sans-serif;
}

/* li {
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
} */