/* Google Fonts */

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Style */
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 150px;
}

.text-primary {
    color: #4E47FF;
}

a {
    text-decoration: none;
}

button {
    background: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: 24px;
    border: none;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.97);
    color: black;
}

.section-title {
    font-size: 42px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
}

h4 {
    font-size: 28px;
    margin: 0;
}

/* Header Styles  */
header {
    padding: 0 150px;
    padding-bottom: 200px;
    background-image: url("../Assets/Hero-bg.png");
    /* background-repeat: no-repeat; */

}

/* Navigation bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

.slider {
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin: 150px 0 40px;
}

.item-center {
    display: flex;
    justify-content: center;
}

/* Action Section */
.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 0;
}

.action-image {
    border-radius: 48px;
}

/* Ratings Section */

.star-icon {
    color: orange;
    display: flex;
    gap: 5px;
}

.Users-comment {}

.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.reviewer-image {
    border-radius: 50%;
}

.reviewer {
    font-weight: 700;
    color: #757575;
}

/* Subscription Section */
